---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
    <div class="h-full flex items-center bg-orange-600">
        <h1 class="font-semibold text-8xl">Tutorial Windows Server 2012 R2</h1>
    </div>
</Layout>
